<div class="bgimg">
  <div class="col d-flex justify-content-center">
    <div class ="card-signup text-center">
      <div class ="card-body">
        <h3>Create an Allergy Free Menu</h3>
        <%= simple_form_for [@school_menu, @menu] do |f| %>
          <%= f.input :profile, label: "Select an allergy", collection: Ingredient.all, input_html: {data: {controller: "tom-select"}, name: "menu[1]"} %>
          <%= f.input :profile, label: "Select another allergy", collection: Ingredient.all, input_html: {data: {controller: "tom-select"}, name: "menu[2]"} %>
          <%= f.input :profile, label: "Select another allergy", collection: Ingredient.all, input_html: {data: {controller: "tom-select"}, name: "menu[3]"} %>
          <%= f.input :profile, label: "Select another allergy", collection: Ingredient.all, input_html: {data: {controller: "tom-select"}, name: "menu[4]"} %>
          <%= f.button :submit, class: "btn btn-primary", value: "Create Menu" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
