<div class="container page">
  <h1><%= @menu.school_menu.date.strftime("%d %B '%y") %> - <%= (@menu.school_menu.date + 18).strftime("%d %B '%y") %> </h1>
  <br><br>
  <%= link_to "New menu", new_school_menu_menu_path %>
  <div>
    <% @menus_in_week.each do |menu| %>
      <div class="card mb-3" >
        <div class="card-title p-3">
          <h3><%= menu.menu_date.strftime("%A") %></h3>
          <% menu.dishes.each do |dish|%>
            <p> <%= dish.name %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
