<div class="bgimg">
  <div class="container page">
   <div data-controller="day-focus" class="container page">
    <h1> <%= cl_image_tag @menu.school_menu.school.photo.key, class:"avatar-xl"%></h1>
    <h2><%= @menu.menu_date.strftime("%d %B '%y") %> - <%= (@menu.menu_date + 4.days).strftime("%d %B '%y") %> </h2>
    <br><br>

    <%# <div class="container" style="margin-bottom: 50px">
      <%#= link_to "Create New Menu", new_school_menu_menu_path(params[:id]), class: "btn btn-primary" %>
    <%# </div> %>

    <div class = "row mb-5">
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Monday" data-action="click->day-focus#scroll">M</button>
      </div>
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Tuesday" data-action="click->day-focus#scroll">T</button>
      </div>
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Wednesday" data-action="click->day-focus#scroll">W</button>
      </div>
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Thursday" data-action="click->day-focus#scroll">T</button>
      </div>
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Friday" data-action="click->day-focus#scroll">F</button>
      </div>
    </div>

      <% @menus_in_week.each do |menu| %>
        <div id="<%= menu.menu_date.strftime("%A")%>">
            <br><br><br>
          <h2><%= menu.menu_date.strftime("%A") %></h2>
            <br><br>
          <div class="cards">
            <% menu.dishes.each do |dish| %>
              <div class="card-trip">
                <%= cl_image_tag dish.image.key, crop: :fill %>
                <div class="card-trip-infos">
                  <h3 class="card-title"> <%= dish.name %> </h3>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%#
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div> %>
