<div class="bgimg">
  <div data-controller="day-focus" class="container page" style="height: 200vh">
    <h1><%= @school_menu.date.strftime("%d %B '%y") %> - <%= (@school_menu.date + 18.days).strftime("%d %B '%y") %> </h1>
    <br><br>

  <div class="container" style="margin-bottom: 50px">
    <%= link_to "Create New Menu", new_school_menu_menu_path(params[:id]), class: "btn btn-primary" %>
  </div>

    <div class = "row mb-5">
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Monday" data-action="click->day-focus#scroll">M</button>
      </div>
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Tuesday" data-action="click->day-focus#scroll">T</button>
      </div>
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Wednesday" data-action="click->day-focus#scroll">W</button>
      </div>
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Thursday" data-action="click->day-focus#scroll">T</button>
      </div>
      <div class="col col-lg-1">
        <button type="button" class="btn-circle" data-day="Friday" data-action="click->day-focus#scroll">F</button>
      </div>
    </div>


    <% @menus_in_week.each do |menu| %>
      <div id="<%= menu.menu_date.strftime("%A")%>">
        <h2><%= menu.menu_date.strftime("%A") %></h2>
          <br>
          <div class="cards mb-5">
            <% menu.dishes.each do |dish| %>
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title"> <%= dish.name %> </h3>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>
