<section>
  <h3 class="card-title">
    <div class="justify-content-between d-flex">
      <div>
        <%= @first_school_menu.date.strftime("%d %B '%y") %> - <%= (@first_school_menu.date + 4).strftime("%d %B '%y") %>
      </div>
      <div>
        <%= link_to "Create new menu",  new_school_menu_menu_path(@first_school_menu), class: "btn btn-primary"%>
      </div>
    </div>
  </h3>
  <br>
  <br>

  <div class="cards">
    <% @first_week_menus.where(tailored: true).each do |menu| %>
      <div class="card">
        <div class="card-body">
          <br>
          <%# <p class="card-text"><%= school.postcode %>
            <%# <h3><%= menu.profile.profile_allergies.first.ingredient.name %>
            <h3><% menu.profile.profile_allergies.each do |profile_allergy| %>
              <%= profile_allergy.ingredient.name.capitalize %>
            <% end %> free </h3>

          <%# <% raise %>
          <div>
            <br>
            <%= link_to "View menu", menu_path(menu), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<br>
<br>
<br>
