<div class="container page">

  <h1> <%= @school.name %> </h1>
  <h3> <%= @school.postcode %></h3>

  <div class="cards">
    <% @school.school_menus.each do |school_menu| %>
      <div class="card">
        <div class="card-body">
          <br>
          <h3 class="card-title"><%= school_menu.date.strftime("%d %B '%y") %> - <%= (school_menu.date + 18).strftime("%d %B '%y") %> </h3>
          <%# <p class="card-text"><%= school.postcode %>
          <div>
            <br>
            <%= link_to "View menu", school_menu_path(school_menu), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
