<div class="container page">

  <h1> <%= @school.name %> </h1>
  <h3> <%= @school.postcode %></h3>

  <div class="cards">
      <% @school.school_menus_menus.each do |menu| %>
        <div class="card">
          <div class="card-body">
            <br><br>
            <h3 class="card-title".><%= menu.school_menu.date.strftime("%d %B '%y") %> - <%= (menu.school_menu.date + 18).strftime("%d %B '%y") %>  </h3>
            <%# <p class="card-text"><%= school.postcode %>
            <div>
              <br>
              <%= link_to "View menu", school_menu_menu_path(menu.school_menu, menu), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
